body{
	background:#fff;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	color:#333;
	margin:0;
	padding:0;
	text-align:left;
	direction:ltr;
	unicode-bidi:embed;
}

*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

h3{
	font-size:13px;
	color:#333;
	margin:0;
	padding:0;
}

.suppr_msg{
	float: right;
	font-size: 17px;
	padding-right: 5px;
	color: gray;
}

p{
	color: black;
}

ol{
	list-style:none;
	margin:0 auto;
	width:750px;
	margin-top: 20px;

}

.comment_envoyer{
	min-height:58px;
	padding-bottom:8px;
	position:relative;
}

.comment_squelette{
	border-top:1px solid #eee;
	color:#808080;
	padding-top:8px;
}

.Message{
	font-size:13px;
	font-weight:normal;
	overflow:hidden;
}

.comment_ui{
	background-color:#f2f2f2;
	border-bottom:1px solid #e5eaf1;
	clear:left;
	float:none;
	overflow:hidden;
	margin-bottom:2px;
	padding:6px 4px 3px 6px;
	width:auto;
}

.add_comment{
	background-color:#f2f2f2;
	border-bottom:1px solid #e5eaf1;
	clear:left;
	float:none;
	overflow:hidden;
	margin-bottom:2px;
	padding:6px 4px 3px 6px;
	width:600px;
	height: 51px;
	border:1px solid #BDC7D8;
	padding:3px;
}

.comment_text{
	padding:2px 0 4px;
	color:#333333;
}

.comment_actual_text{
	display:inline;
	padding-left:4em;
}

.clean{
	display:none
}

.editbox{
	overflow: hidden;
	height: 61px;
	border:solid 1px #0099CC;
	min-width:655px;
	max-width:655px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
}

.Message img{
	float:left;
}

#POST{
	background-color: #006C87;
	border: 1px solid #29447e;
	padding:2px 16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	margin-top: 2px;
	width: auto;
}

#Envoyer{
	background-color: #006C87;
	border: 1px solid #29447e;
	padding:2px 16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	height: 32px;
	margin-top: 1.5%;
	width: auto;
}

.envoyer-color{
	background-color: #006C87;
}

#comment_post{
	float:left;
	width: auto;
}

#profil_img{
	height: 32px;
	width: 32px;

}

#text_comment{
	width:302px;
	margin-left: 5%;
	margin-top: 2%;
}

#message_conteneur{
	margin-top:10px;
	margin-left: 58px;
}

#largeur_input_comment{
	width:302px;
}

#ok_recherche{
	margin-left: 50px;
	height: 70%;
	width: 50px;
	font-size: 20px;
}

@media only screen and (max-width: 400px){

	.button_couleur{
		display: none;
		}

	ol{
		width:100%;
	}

	 .li_msg{
		 width:85%;
	 }

	 .li_user_msg{
		 width: 85%;
	 }

	.add_comment{
		width:96%;
		height: 150px;
	}

	.editbox{
		width:85%;
		font-size:30px;
		min-width:85%;
		max-width:85%;
	}

	.comment_envoyer{
		width: 85%;
	}

	#Envoyer{
		padding:0px 0px;
		height: 42px;
		font-size: 20px;
		margin-top: 1.5%;
		width: 95%;
	}

	#POST{
		padding:0px 0px;
		margin-top: 2px;
		width: 95%;
		height: 42px;
		font-size: 20px;
	}

	#message_conteneur{
		margin-top:10px;
		margin-left: 0px;
	}

	#text_comment{
	width:50%;
	margin-left: 5%;
	margin-top: 1.7%;
	height: 25px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 500px){

	.button_couleur{
		display: none;
		}

	ol{
		width:100%;
	}

	 .li_msg{
		 width:93%;
	 }

	 .li_user_msg{
		 width: 93%;
	 }

	.add_comment{
		width:93%;
		height: 51px;
	}

	.editbox{
		width:93%;
		font-size:30px;
		min-width:93%;
		max-width:93%;
	}

	.comment_envoyer{
		width: 93%;
	}

	#Envoyer{
		padding:0px 0px;
		height: 42px;
		font-size: 15px;
		margin-top: 1.5%;
		width: auto;
	}

	#POST{
		padding:0px 0px;
		margin-top: 2px;
		width: 95%;
		height: 42px;
		font-size: 20px;
	}

	#text_comment{
	width:50%;
	margin-left: 5%;
	margin-top: 1.7%;
	height: 25px;
	}
}

@media all and (min-width: 500px) and (max-width: 700px){

.button_couleur{
	display: none;
	}
}

@media all and (min-width: 500px) and (max-width: 800px){

	ol{
		width:100%;
	}

	 .li_msg{
		 width:94%;
	 }

	 .li_user_msg{
		 width: 94%;
	 }

	.add_comment{
		width:94%;
		height: 51px;
	}

	.editbox{
		width:94%;
		font-size:30px;
		min-width:94%;
		max-width:94%;
	}

	.comment_envoyer{
		width: 94%;
	}

	#Envoyer{
		padding:2px 16px;
		height: 42px;
		font-size: 20px;
		margin-top: 0.5%;
		width: auto;
	}

	#text_comment{
	width:48%;
	margin-left: 5%;
	margin-top: 1.7%;
	height: 25px;
	}
}

@media all and (min-width: 800px) and (max-width: 1280px){

	ol{
		width:100%;
	}

	 .li_msg{
		 width:97%;
	 }

	 .li_user_msg{
		 width: 97%;
	 }

	.Message{
		font-size:30px;
	}

	.add_comment{
		width:97%;
		height: 51px;
	}

	.editbox{
		width:97%;
		font-size:30px;
		min-width:97%;
		max-width:97%;
	}

	.comment_envoyer{
		width: 97%;
	}

	#POST{
		font-size: 20px;
		width: auto;
	}

	#Envoyer{
		padding:2px 16px;
		height: 42px;
		font-size: 20px;
		margin-top: 0.5%;
		width: auto;
	}

	#text_comment{
	width:50%;
	margin-left: 5%;
	margin-top: 1.7%;
	height: 25px;
	}
}
