@media all and (min-width: 800px) and (max-width: 1280px){

	ol {
		list-style:none !important;
		margin:0 auto !important;
		width:100% !important;
		margin-top: 20px !important;
	}

	 .li_msg {
		 width:95% !important;
	 }
	 
	.Message{
		font-size:20px !important;
		font-weight:normal !important;
		overflow:hidden !important;
	}

	.add_comment{
		background-color:#f2f2f2 !important;
		border-bottom:1px solid #e5eaf1 !important;
		clear:left !important;
		float:none !important;
		overflow:hidden !important;
		margin-bottom:2px !important;
		padding:6px 4px 3px 6px !important;
		width:95% !important;
		height: 33px !important;
		border:1px solid #BDC7D8 !important;
		padding:3px !important;
	}

	.editbox{
		overflow: hidden !important;
		height: 61px !important;
		border:solid 1px #0099CC !important;
		width:95% !important;
		font-size:20px !important;
		font-family:Arial, Helvetica, sans-serif !important;
		padding:5px !important;
		min-width:95% !important;
		max-width:95% !important;
	}
	
	.comment_envoyer{
		min-height:58px;
		padding-bottom:8px;
		position:relative;
		width: 95%;
	}
}

body{
	background:#fff;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	color:#333;
	margin:0;
	padding:0;
	text-align:left;
	direction:ltr;
	unicode-bidi:embed;
}

*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

h3{
	font-size:13px;
	color:#333;
	margin:0;
	padding:0;
}

ol {
	list-style:none;
	margin:0 auto;
	width:750px;
	margin-top: 20px;
}

.comment_envoyer{
	min-height:58px;
	padding-bottom:8px;
	position:relative;
}

.comment_squelette{
	border-top:1px solid #eee;
	color:#808080;
	padding-top:8px;
}

.Message{
	font-size:13px;
	font-weight:normal;
	overflow:hidden;
}

.comment_ui {
	background-color:#f2f2f2;
	border-bottom:1px solid #e5eaf1;
	clear:left;
	float:none;
	overflow:hidden;
	margin-bottom:2px;
	padding:6px 4px 3px 6px;
	width:auto;
}

.add_comment{
	background-color:#f2f2f2;
	border-bottom:1px solid #e5eaf1;
	clear:left;
	float:none;
	overflow:hidden;
	margin-bottom:2px;
	padding:6px 4px 3px 6px;
	width:600px;
	height: 33px;
	border:1px solid #BDC7D8;
	padding:3px;
}

.comment_text{
	padding:2px 0 4px;
	color:#333333;
}

.comment_actual_text{
	display:inline;
	padding-left:4em;
}

.clean {
	display:none
}

.editbox{
	overflow: hidden;
	height: 61px;
	border:solid 1px #0099CC;
	min-width:655px;
	max-width:655px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
}

.Message img{
	float:left;
}

#POST{
	background-color: #5B74A8;
	border: 1px solid #29447e;
	padding:2px 16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	margin-top: 2px;
}

#Envoyer{
	background-color: #5B74A8;
	border: 1px solid #29447e;
	padding:2px 16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	height: 32px;
}

#comment_post{
	float:left;
	width: auto;
}

#profil_img {
	height= 32px;
	width= 32px;

}

#text_comment {
	width:302px;
	margin-left: 5%;
	margin-top: 1%;
}

#message_conteneur {
	margin-top:10px;
	margin-left: 58px;
}

#largeur_input_comment {
	width:302px;
}
