body{
	background-image:url(../photos/10.jpg);
	margin-top:1.9em;
	height:100%;
	font-family: sans-serif;
}

#chat_box{
	position:fixed;
	right:0%;
	bottom:0%;
	width: 20%;
	padding-left: 5px;
	height: auto;
	z-index: 2;
}

.chat_body{
	background:white;
	height: auto;
	padding:5px 0px;
}

.chat_head{
	font-size: 14px;
}

#chat_head,#msg_head{
	background: #0077FF;
	color:white;
	padding: 15px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 0px 0px 0px;
}

#msg_head{
	padding: 5px 9px;
}

#msg_box{
	position:fixed;
	bottom:0%;
	width:20%;
	background: white;
	border-radius:5px 5px 0px 0px;
	overflow-y: auto;
  white-space: -moz-pre-wrap ; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
	z-index: 2;
}

#msg_body{
	background:white;
	height:20em;
	font-size:12px;
	padding-top:15px;
	padding-bottom: 15px;
	overflow-y: scroll;
}

.msg_input{
	width:100%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#close{
	float:right;
	cursor:pointer;
	font-size: 21px;
	margin-top: 8px;
	margin-left: 19px;
}

#reduire{
	float:right;
	cursor:pointer;
	font-size: 36px;
}

#chat_body{
	background:white;
	height: auto;
	padding:5px 0px;
}

.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;
}

#user{
	position:relative;
	padding:1px 30px;
}

#user:hover{
	background:#f8f8f8;
	cursor:pointer;
}

#user:before{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:22px;
	border-radius:6px;
}

#user_dec{
	position:relative;
	padding:1px 30px;
}

#user_dec:hover{
	background:#f8f8f8;
	cursor:pointer;
}

#user_dec::before{
	content:'';
	position:absolute;
	background:	#A9A9A9;
	height:10px;
	width:10px;
	left:10px;
	top:22px;
	border-radius:6px;
}

.nom{
	margin-top: 17px;
	width: 52%;
	padding-left: 59px;
}

.nom_channel{
	margin-top: 15px;
	margin-left: 60px;
}

.msg_a{
	position:relative;
	background:#FDE4CE;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
}

.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #FDE4CE transparent transparent;
	left:-20px;
	top:7px;
}

.msg_b{
	background:#EEF2E7;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-wrap: break-word;
}

.msg_b:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #EEF2E7;
	right:-20px;
	top:7px;
}

#ok_recherche{
	margin-left: 50px;
	height: 70%;
	width: 50px;
	font-size: 20px;
}

.env_msg{
	font-size: 20px;
	margin-bottom: 2%;
	margin-left: 27.5%;
	background-color: #5B74A8;
	border: 1px solid #29447e;
	padding: 2px 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	height: 34px;
	width: 45%;
}

@media only screen and (max-width: 1280px){

	#chat_box{
		position: relative;
		width: 100%;
		padding-left: 0px;
		font-size: 30px;
		text-align: center;
	}

	#chat_head{
		font-size: 23px;
	}

	#msg_box{
		position: relative;
		width: 100%;
		left: 0px;
		font-size: 20px;
	}

	#msg_head{
		text-align: center;
		font-size: 20px;
		padding: 0px 15px;
	}

	h3{
		font-size: 22px;
	}

	.nom_channel{
		margin-left: 0px;
	}

	.nom{
		padding-top: 14px;
		width: 100%;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.avatar_box{
		display: none;
	}

	.avatar_msg{
		margin-top: 10px;
	}

	.msg_a{
		font-size: 30px;

	}

  #user::before{
  	height: 0px;
    width: 0px;
  	left: 0px;
  }

	.env_msg{
	 font-size: 30px;
	 padding:2px 16px;
	 height: 52px;
 	}
}
